.button {
    background-color: white;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.button:active {
    background-color: darkred;
}

a:active {
    color: white;
}