.box {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 200px;
    transition: background-color 0.5s ease;
}

.box:hover {
    background-color: cadetblue;
    transform: rotate(45deg);
}